<div class="pageBackground zooming">    
</div>
<div class="oj-hybrid-padding">
    <div class="oj-flex oj-sm-flex-direction-column oj-sm-align-items-center v-center">
        <div class="oj-flex-item">
            <h1 class="text-large" style="color: white">
                <em> Hi! I’m </em> Sunil Kumar
            </h1>
            <div>
                <p class="lead text-muted">Experienced UI Developer </p>
            </div>
        </div>
        <div class="oj-flex-item">
            <oj-button id='button1' class="oj-margin" data-bind="click: gotoMyResume">Check my Resume</oj-button>
            <oj-button id='button2' class="oj-margin" data-bind="click: gotoMyWork">My Works</oj-button>
        </div>
    </div>
</div>
