/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

body{
    font-family: 'Titillium Web', sans-serif;
}

/*application background image*/
.bg-image{
    background-image: url('images/cold.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


#myName:hover {
    cursor: pointer;
    color: #ffffff;
}


.oj-web-applayout-offcanvas {
    width: 57%;
    max-width: 320px;
    background-color: #936daa;
    color: #ffffff;
    box-shadow: 2px 0px 10px 0px #7c7e7f;
}

.oj-web-applayout-header {
    z-index: 1;
    background-color: rgba(240, 240, 240, 0.15);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

.oj-navigationlist-horizontal:not(.oj-navigationlist-icon-only) .oj-navigationlist-item {
    border-style: none;
}

.oj-navigationlist-app-level.oj-navigationlist-horizontal .oj-navigationlist-item.oj-selected a.oj-navigationlist-item-content > .oj-navigationlist-item-label{
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    color: #000000;
    background-color: #ffffff;
}

.oj-navigationlist-app-level.oj-navigationlist-horizontal .oj-navigationlist-item.oj-hover:not(.oj-disabled) a.oj-navigationlist-item-content > .oj-navigationlist-item-label{
    color: #000;
}