.contactBackground{
    /*background-image: url('images/cold.png');*/
    background: linear-gradient(to right, #59b0bf, #60B794);   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.contactBackground + * {
    position: relative;
}

#contactPopup hr{
    border-color: #000;
}